html {
  margin: 0;
  padding: 0;
  background-color: #444;
}

/* Using a canvas as our background */
canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

body {
  color: #ffffff;

  font-family:
    Consolas,
    Monaco,
    Lucida Console,
    Liberation Mono,
    monospace;
}

#container {
  margin: auto;
  max-width: 30em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 2em;
}

.section {
  width: 90vw;
  max-width: inherit;
}

.entry {
  margin: 25px auto;
  padding: 10px;

  font-size: 1em;

  color: #888888;
  background-color: #222222;

  box-shadow: rgba(40, 10, 0, 0.96) 0px 22px 70px 4px;
  border: solid #999 1px;
  border-radius: 10px;
}

.entry .title {
  color: #ffffff;
  padding: 5px 0 0 0;
  height: 1.6em;
  font-size: 1.5em;
}

.entry .demo {
  height: auto;
}

.entry .demo img {
  width: 100%;
  border: solid #999 1px;
}

.entry .description {
  font-size: 1em;
}

.entry .description dl {
}

.entry .description dt {
  color: #aaaaaa;
  font-size: 1.1em;
}

.entry .description dd {
  margin: 0px 0px 0px 10px;
}

.entry .links {
  margin: 0px auto;
  text-align: center;
}

.entry .links a {
  color: #b294bb;
}

.entry .links a:visited {
  color: #b294bb;
}
